@model PagedList.PagedList<Model.EF.Category>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layuot.cshtml";
}
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Category", FormMethod.Get, new { @class = "d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" }))
        {
            <div class="input-group">
                <input type="text" value="@ViewBag.SeachString" class="form-control bg-light border-0 small" name="SeachString">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>

        }

        <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                <thead>
                    <tr>


                        <th rowspan="1" colspan="1">@StaticResouce.Resources.Category_Name</th>
                        <th rowspan="1" colspan="1">@StaticResouce.Resources.Category_Metatitle</th>
                        <th rowspan="1" colspan="1">@StaticResouce.Resources.Category_ParenID</th>
                        <th rowspan="1" colspan="1">@StaticResouce.Resources.Category_DisplayOrder</th>
                        <th rowspan="1" colspan="1">@StaticResouce.Resources.Category_SeoTitle</th>
                        <th rowspan="1" colspan="1">@StaticResouce.Resources.Category_Status</th>
                        <th rowspan="1" colspan="1">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var list in Model)
                    {
                        <tr role="row" class="odd">

                            <td>@list.Name</td>
                            <td>@list.Metatile</td>
                            <td>@list.ParenID</td>
                            <td>@(list.DisplayOrder)</td>
                            <td>@list.SeoTitle</td>
                            <td>(@list.Status)</td>
                            <td id="row_@list.ID">
                                <a href="/Admin/Category/Edit/@list.ID">@StaticResouce.Resources.CategoryButtonUpdate</a> |
                                @Ajax.ActionLink(StaticResouce.Resources.CategoryButtonDelete, "Delete", new { @id = list.ID }, new AjaxOptions
                           {
                               Confirm = "bạn có muốn xóa bản ghi này không?",
                               OnComplete = "$('#row_" + @list.ID + "').remove()",
                               HttpMethod = "Delete"
                           })
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("index", new { Page, @ViewBag.SeachString  }))
        </div>





    </div>