
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">@StaticResouce.Resources.Letft_Menu_logo <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>@StaticResouce.Resources.Letft_Menu_Home</span>
            </a>
        </li>

        <!-- Divider -->
        <!-- --------------- -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog "></i>
                <span>@StaticResouce.Resources.Left_Menu_System</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">Buttons</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li>
        <!-- 0-------- -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" >
                <i class="fa fa-binoculars"></i>
                <span>@StaticResouce.Resources.Letft_Menu_Product</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">Buttons</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li>

        <!-- --------------- -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                <span>@StaticResouce.Resources.Letft_Menu_News</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">@StaticResouce.Resources.Letft_Menu_News </h6>
                    <a class="collapse-item" href="/Category/index">@StaticResouce.Resources.Letft_Menu_Catefory </a>
                    <a class="collapse-item" href="~/Content/index">@StaticResouce.Resources.Letft_Menu_News</a>
                </div>
            </div>
        </li>

        <!-- --------------- -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fa fa-window-maximize"></i>
                <span>@StaticResouce.Resources.Letft_Menu_general_managerment</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">@StaticResouce.Resources.Letft_Menu_News</h6>
                    <a class="collapse-item" href="/Category/index">@StaticResouce.Resources.Letft_Menu_Catefory</a>
                    <a class="collapse-item" href="~/Content/index">@StaticResouce.Resources.Letft_Menu_News</a>
                </div>
            </div>
        </li>


    </ul>